<ion-modal-view>
	
	<ion-header-bar>
	  <button class="button button-icon icon ion-close-round" ng-click="closeWallOptionsModal()"></button>
	  <h3 class="title">{{wall.title}} Options</h3>
	</ion-header-bar>
	
	<ion-content>
	  <div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Rename</span>
		    <input type="text" ng-model="wall.title">
		  </label>
	  </div>

	  <members 
	  	members="wall.members" 
	  	search-func="searchMembers(search)" 
	  	add-func="addMember(user)"
	  	delete-func="deleteMember(member)"
	  	moderator="wall.moderator">
	  </members>
	  
	  <button class="button button-block button-positive" ng-click="showAddLanePopup(); closeWallOptionsModal();">
		Add Lane
	  </button>

	  <button class="button button-block buttonDanger" ng-click="showDeleteWallPopup(); closeWallOptionsModal();">
		Delete Wall
	  </button>
	</ion-content>
	
	<!-- Buttons to finish modal -->
    <ion-footer-bar>
      <div class="button-bar">
      	<button type="button" class="button" ng-click="closeWallOptionsModal()">Cancel</button>
	    <button type="button" class="button buttonAccept" ng-click="updateWall(); closeWallOptionsModal();">Done</button>
      </div>
  	  
    </ion-footer-bar>

</ion-modal-view>