<div class="list attachmentsList list-inset">
  <div class="item item-divider">
      Attachments
  </div>

  <ion-scroll style="max-height: 200px;" direction="y">
    <ion-list>

      <ion-item class="item item-thumbnail-left" ng-repeat="attachment in attachments | toArray | orderBy:'created':true">
        <!--<img ng-src="{{attachment.url}}"> -->
        <modal-enabled-image url="attachment.url"></modal-enabled-image>
        <p ng-if="attachment.description">{{attachment.description}}</p>
        <p ng-if="attachment.fileName">File Name: {{attachment.fileName}}</p>
        <p>Added <span class="greyText">{{attachment.created | timeago:'ago'}}</span></p>

        <ion-option-button class="buttonDanger"
                     ng-click="deleteAttachment(attachment.id)">
              Delete
        </ion-option-button>

      </ion-item>

      <ion-item ng-show="attachments.length == 0">
        No attachments to show
      </ion-item>

    </ion-list>
  </ion-scroll>

</div>

<button class="button button-clear button-positive addAttachmentButton" ng-click="showAddAttachmentModal();">
  Add an attachment
</button>