.laneOptionsBtn {
  position: absolute;
  top: -5px;
  left: 0;
}

.laneAddCardBtn {
  position: absolute;
  top: -5px;
  right: 0;
}

#cardList .item {
  background: none;
}

#laneCardContent {
	top: 35px;
	margin-bottom: 35px;
}

.item-content {
	background-color: #FFFFFF !important;
}
