<div class="list membersList list-inset">
	<div class="item item-divider">
	    Comments
	</div>

	<ion-scroll style="max-height: 200px;" direction="y">
		<div class="item" ng-repeat="comment in comments">
			<p>
				<span class="sapBlueText">{{comment.user.name}}</span>
				<span ng-if="comment.created"> 
					commented <span class="greyText">{{comment.created | timeago:'ago'}}</span>
				</span>
			</p>
			<p>{{comment.text}}</p>
		</div>
	</ion-scroll>

	<div class="item" ng-show="comments.length == 0">
		No comments to show
	</div>

</div>